body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

td {
  padding: 20px;
}



